*{
    margin: 0;
    padding: 0;
}

nav{
    font-weight:900 ;
    font-size: 1.8em;
    font-family:Tahoma, Geneva, Verdana, sans-serif
}

li{
    display: inline-block;
    margin:20px;
}

.style_ul{
    text-align: right;
    padding-right:50px;
    height: 70px;
}

a{
    text-decoration: none;
    color: black; 
}
a:hover{
    color:rgb(151, 155, 155);
}

.imagen-style{
    width:100%;
    height: auto;
}
.menu-hamburguer{
    font-size: 1.8em;
    float:right;
    visibility: hidden;
    margin-top:20px
}
.box-imagenes{
    display:grid;
    width:90%;
    margin: 0 auto;
    grid-template: "display-ducati display-fazer" ;
}
.display-ducati{
    grid-area:display-ducati;

}

.display-fazer{
    grid-area:display-fazer;

}

.display-pulsar{
    grid-area:display-pulsar;

}

@media only screen and (max-width: 968px){
    ul li{
        visibility:hidden;
    }
    .menu-hamburguer{
        visibility: visible;
    }
    .box-imagenes{
        grid-template: "display-ducati"
                        "display-fazer" 
                        "display-pulsar";
    }
}